.sc-container {
  font-family: poppins, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.sc-li {
  /* background-color: rgb(108, 186, 255); */
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #7ec9e7 0%, #72cef8 74%);
  margin-bottom: 20px;
  padding: 25px;
  max-width: 800px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 30px;
  color: rgb(9, 4, 59);
  box-shadow: 2px 5px 4px rgb(168, 186, 219);
  transition: 0.3s transform;
  cursor: pointer;
  list-style-type: none;
}
.sc-li:hover {
  transform: scale(1.01);
}
.sc-comment {
  width: 750px;
}

@media only screen and (max-width: 768px) {
  .sc-li {
    width: 300px;
  }
  .sc-comment {
    width: 200px;
  }
}
